<div>
    <form name="employee" #myForm="ngForm">
        <div class="form-group">
            <label for="name">Employee Name</label>
            <input type="text" class="form-control" name="name" required [(ngModel)]="emp.name" #spy1> {{spy1.className}}
        </div>
        <div class="form-group">
            <label for="type">Employee Type</label>
            <px-dropdown [items]="items" required name="type" appPx></px-dropdown>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid" (click)="onSubmit()">Submit</button>
    </form>
</div>